h1 {
  text-align: center;
}
.modal{
  margin-top: 150px;
}
.variant{
  margin-left: 150px;
}
 .app {
  background-image: url("https://plus.unsplash.com/premium_photo-1684923604860-64e661f2ff72?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Chemin relatif depuis public */
  background-size: cover; /* couvre tout l’écran */
  background-position: center; /* centre l’image */
  background-repeat: no-repeat;
  min-height: 100vh; /* prend toute la hauteur de la page */
  color: white; /* pour que le texte soit visible */
  text-align: center; /* optionnel */
  padding-top: 30px; /* optionnel */
}